@import 'tailwindcss';
@import "tailwindcss-primeui";

html, body {
    height: 100%;
    margin: 0px;
    font-size: 14px;
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.p-toast .p-toast-message .p-toast-message-content .p-icon {
    width: 1rem;
}